[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
marshmallow-sqlalchemy = "*"
assertpy = "*"
pytest = "*"
sqlalchemy = "==1.4.3"
flask-sqlalchemy = "<3.0.0"
flask = "<2.3.0"
werkzeug = "<3.0.0"
marshmallow = "<4.0.0"
flask-marshmallow = "<0.15.0"
setuptools = "*"
uvicorn = "*"
connexion = {extras = ["flask"], version = "==2.*"}

[requires]
python_version = "3.13"
